@using EmailHubApp.Models;
@{
    ViewData["Title"] = "UserTypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger"><strong>Error:&nbsp;</strong>@ViewBag.ErrorMessage</div>
}
<h2>User-Type</h2>
<hr /><a asp-action="AddUpdateUserType" class="btn btn-success" style="text-decoration: none;">Create</a>
<br />
<br />
<div>
    <table id="example" class="table table-striped nowrap" style="width:100%">
        <thead>
            <tr>
                <th>User Type</th>               
                <th>Active Status</th>
                <th>Limit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserTypeOperation item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@(item.IsActive == true ? "Active" : "Inactive")</td>
                    <td>@item.Limit</td>
                    <td>
                        <a asp-action="AddUpdateUserType" asp-controller="Security" asp-route-id="@item.ID" class="btn btn-outline-warning" style="text-decoration: none"><b>Update</b></a> |
                        <a asp-action="RemoveUserType" asp-controller="Security" asp-route-id="@item.ID" class="btn btn-outline-danger" style="text-decoration: none" onclick="return confirm('Are you sure?')"><b>Delete</b></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

